:root {
  --main_font: "Roboto", sans-serif;
  --second_font: "Raleway", sans-serif;
  --light_title: #ffffff;
  --primary_brand: #4d5ae5;
  --pressed_state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle_text: #8e8f99;
  --accent: #e7e9fc;
  --light_background: #f4f4fd;
  --modal_overlay: #2e2f42;
  --hero_background: #2e2f42;
  --time_distribution: cubic-bezier(0.4, 0, 0.2, 1);
  --phone: 480px;
  --tablet: 768px;
  --dasktop: 1200px;
}

/* general */

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
body {
  font-family: var(--main_font);
  font-style: normal;
  color: var(--text);
}

.visualy_hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.suptitle {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

main {
  padding-top: 70px;
}

/* header */

.header {
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .logo,
.nav_link,
.address {
  padding: 23px 0;
}
.header .container {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--second_font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary_brand);
}
.logo_studio {
  color: var(--modal_overlay);
}
.nav_lists {
  display: none;
  gap: 40px;
  margin-left: 120px;
}
.nav_list {
  position: relative;
}
.nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--modal_overlay);
  display: block;

  transition: color 250ms var(--time_distribution);
}

.nav_link:hover,
.nav_link:focus {
  color: var(--pressed_state);
}
.current_link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--pressed_state);
  border-radius: 2px;
}
.header_address {
  display: none;
  margin-left: auto;
  padding-top: 24px;
}
.address_lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.address_list {
}
.address.link {
  padding: 0;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--text);

  transition: color 250ms var(--time_distribution);
}
.address:hover,
.address:focus {
  color: var(--pressed_state);
}
.address_list {
}
.menu_btn {
  padding: 0;
  background: transparent;
  border: none;
  margin-left: auto;
  height: 70px;
}
.menu_icon {
  stroke: var(--dark);
}
.menu {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 40px;
  background-color: #ffffff;
  overflow: auto;
}
.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.menu_top {
}
.menu_bottom {
}
.menu_nav_lists {
  margin-top: 16px;
}
.menu_nav_list:not(:last-child) {
  margin-bottom: 40px;
}
.menu_nav_link {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 0;
}
.menu_nav_link:hover,
.menu_nav_link:focus {
  color: var(--pressed_state);
}
.menu_address_lists {
  margin-bottom: 48px;
}
.menu_address_list:not(:last-child) {
  margin-bottom: 40px;
}
.menu_tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary_brand);
}
.menu_mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text);
}
.ot_lists_soc.menu_soc_lists {
  gap: 0;
  margin-top: 0;
  justify-content: space-between;
}

/* footer */

.footer {
  background: var(--dark);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 64px;
  margin: 0 auto;
}
.footer_text {
  color: var(--accent);
  margin-top: 16px;
}
.footer_logo_studio {
  color: var(--light_background);
}
.footer_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.footer_social_text,
.footer_form_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer_social_lists {
  display: flex;
  gap: 16px;
}
.footer_social_list {
  width: 40px;
  height: 40px;
}
.footer_social_link {
  width: 100%;
  height: 100%;
  background-color: #434455;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--time_distribution);
}
.footer_social_link:is(:hover, :focus) {
  background-color: var(--success);
}
.footer_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer_input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  background: var(--modal_overlay);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--accent);
}
.footer_input[placeholder] {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer_btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;

  min-width: 165px;
  height: 40px;

  background: var(--primary_brand);
  border-color: transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  transition: background 250ms var(--time_distribution);
}
.footer_btn:is(:hover, :focus) {
  background: var(--pressed_state);
}
.footer_btn::after {
  display: block;
  content: "";
  width: 24px;
  height: 20px;
  background-image: url(../images/icons/send.svg);
  background-size: cover;
}

/*------------------------------------------------------------ index ------------------------------------------------------------*/

/* Hero */

.hero {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: var(--hero_background);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_mob/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero_mob/people-office@2x.jpg");
  }
}
.hero_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light_title);
  margin-bottom: 72px;
}
.hero_button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--light_title);
  background: var(--primary_brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  width: 169px;
  height: 56px;

  transition: background 250ms var(--time_distribution);
}
.hero_button:hover,
.hero_button:focus {
  background: var(--pressed_state);
}

/* Feauters */

.features {
  padding: 96px 0;
}
.features_lists {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.feature_box_icon {
  display: none;
}
.feature {
  margin-bottom: 8px;
}
.feature_text {
  font-weight: 500;
}

/* What are we doing */

.wawd {
  display: none;
}

/* Our team */

.our_team {
  background: var(--light_background);
  padding-top: 96px;
  padding-bottom: 120px;
}
.our_team_title {
  margin-bottom: 72px;
}
.our_team_list {
  width: 264px;
  margin: 0 auto 72px auto;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.our_team_list:last-child {
  margin-bottom: 0;
}
.memb_cont {
  text-align: center;
  padding: 32px 16px;
}
.direction {
  margin-top: 8px;
}

.ot_lists_soc {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}
.ot_list_soc {
  width: 40px;
  height: 40px;
}
.ot_soc_link {
  width: 100%;
  height: 100%;
  background-color: var(--primary_brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--time_distribution);
}
.ot_soc_icon {
}
.ot_soc_link:is(:hover, :focus) {
  background-color: var(--pressed_state);
}

/* Customers */

.customers {
  padding: 96px 0;
}
.customers_title {
  margin-bottom: 72px;
}
.customers_lists {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}
.customers_list {
  display: inline-block;
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers_link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--subtle_text);
  border-radius: 4px;
  color: var(--subtle_text);

  transition: color 250ms var(--time_distribution),
    border-color 250ms var(--time_distribution);
}
.customers_icon {
  fill: currentColor;
}
.customers_link:is(:hover, :focus) {
  border-color: var(--pressed_state);
  color: var(--pressed_state);
}

/*-------------------------------------------------------------- Portfolio --------------------------------------------------------------*/

.portfolio {
  padding: 48px 0;
}
.portfolio_button_lists {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
}
.portfolio_button {
  display: flex;
  align-items: center;
  text-align: center;

  height: 40px;
  padding: 8px 16px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary_brand);

  background: var(--light_background);
  border: 1px solid var(--accent);
  border-radius: 4px;

  transition: color 250ms var(--time_distribution),
    background 250ms var(--time_distribution),
    box-shadow 250ms var(--time_distribution),
    border-color 250ms var(--time_distribution);
}

.portfolio_button:hover,
.portfolio_button:focus {
  color: var(--light_title);
  background: var(--pressed_state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--pressed_state);
}

/* Portfolio list */

.portfolio_lists {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio_list {
  width: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio_link {
  transition: box-shadow 250ms var(--time_distribution);
}
.portfolio_link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio_img_container {
  position: relative;
  overflow: hidden;
  height: 280px;
}
.portfolio_card_hover {
  position: absolute;
  left: 0;
  top: 0;
  transform: translatey(100%);
  width: 100%;
  height: 100%;
  background: #4d5ae5;

  transition: transform 250ms var(--time_distribution);
}
.portfolio_card_hover_text {
  margin: 40px 32px auto 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio_link:is(:hover, :focus) .portfolio_card_hover {
  transform: translateY(0);
}
.prtfolio_cont {
  padding: 32px 0 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  transition: border-left 250ms var(--time_distribution),
    border-bottom 250ms var(--time_distribution),
    border-right 250ms var(--time_distribution);
}
.portfolio_link:is(:hover, :focus) .prtfolio_cont {
  border-left: 1px solid #f4f4fd;
  border-bottom: 1px solid #f4f4fd;
  border-right: 1px solid #f4f4fd;
}

.portfolio_img_title {
  margin-bottom: 8px;
}
/* Media */

@media screen and (max-width: 479px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 396px;
  }
  main {
    padding-top: 0;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_tablet/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero_tablet/people-office@2x.jpg");
    }
  }
}

@media screen and (min-width: 768px) {
  /* General */

  .container {
    width: 736px;
  }
  @media screen and (max-width: 1199px) {
    .min_container {
      width: 584px;
    }
  }

  /* Header */

  .nav_lists {
    display: flex;
  }
  .header_address {
    display: block;
  }
  .address_list {
  }
  .menu_btn {
    display: none;
  }
  .menu {
    display: none;
  }

  /* footer */

  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .footer_main {
    align-items: start;
    padding: 0;
    margin: 0;
    width: 264px;
  }
  .footer_social {
    align-items: start;
    margin: 0;
  }
  .footer_form {
    width: 453px;
    align-items: start;
  }
  .footer_btn {
    gap: 12px;
  }
  .footer_subscribe {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 16px;
  }
  .footer_input {
    width: 264px;
    margin: 0;
  }

  /* Hero */

  .hero {
    padding: 112px 0 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_dt/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero_dt/people-office@2x.jpg");
    }
  }
  .hero_title {
    font-size: 56px;
    line-height: 1.07;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
  }

  /* Feauters */

  .features_lists {
    row-gap: 72px;
    column-gap: 24px;
  }
  .features_lists .list {
    width: calc((100% - 24px) / 2);
  }

  /* Our team */

  .our_team {
    padding-bottom: 104px;
  }
  .our_team_lists {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .our_team_list {
    width: 264;
    margin: 0;
  }

  /* Customers */

  .customers_lists {
    column-gap: 24px;
  }
  .customers_list {
    width: calc((100% - 48px) / 3);
  }

  /*---------------------------- Portfolio ----------------------------*/

  .portfolio {
    padding: 64px 0 96px;
  }
  .container.button_container {
    width: 618px;
  }
  .portfolio_button_lists {
    gap: 23px;
  }
  .portfolio_button {
    padding: 12px 24px;
    letter-spacing: 0.03em;
  }

  .portfolio_list {
    width: calc((100% - 24px) / 2);
  }
  .portfolio_img_container {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  /* General */

  .container {
    width: 1158px;
  }
  .suptitle {
    font-weight: 700;
  }

  /* Header */

  .nav_lists {
    margin-left: 76px;
  }
  .header_address {
    padding: 0;
  }
  .address_lists {
    flex-direction: row;
    gap: 40px;
  }
  .address.link {
    display: block;
    padding: 23px 0;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.02em;
  }

  /* footer */

  .footer {
    padding: 100px 0;
  }
  .footer .container {
    gap: 0;
  }
  .footer_main {
    margin-right: 120px;
  }
  .footer_social {
    margin-left: 0;
    margin-right: 80px;
  }
  .footer_input {
    width: 100%;
  }

  /* Hero */

  .hero {
    padding: 188px 0;
  }

  /* Feauters */

  .features {
    padding: 120px 0;
  }
  .features_lists {
    gap: 23px;
  }
  .features_lists .list {
    width: calc((100% - 69px) / 4);
  }
  .feature_box_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
    margin-bottom: 8px;
    background: var(--light_background);
    border-radius: 4px;
  }
  .feature.suptitle {
    text-align: start;
    font-size: 20px;
    line-height: 1.2;
  }
  .feature_text {
    font-weight: 400;
    font-size: 16px;
  }

  /* What are we doing */

  .wawd {
    display: block;
    padding-bottom: 120px;
  }
  .wawd_title {
    margin-bottom: 72px;
  }
  .wawd_lists {
    display: flex;
    justify-content: space-between;
  }
  .wawd_list {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 24px * 2) / 3);
  }

  /* Our team */

  .our_team_lists {
    gap: 23px;
  }

  /* Customers */

  .customers {
    padding: 120px 0;
  }
  .customers_list {
    width: calc((100% - 24px * 5) / 6);
  }

  /*---------------------------- Portfolio ----------------------------*/

  .portfolio {
    padding: 96px 0 120px;
  }
  .portfolio_button_lists {
    margin-bottom: 72px;
  }
  .portfolio_list {
    width: calc((100% - 48px) / 3);
  }
  .portfolio_img_container {
    width: 360px;
  }
}
/* Modal */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  z-index: 2;
  overflow-y: scroll;
  transition: opacity 250ms var(--time_distribution),
    visibility 250ms var(--time_distribution);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
  opacity: 0;
}
.modal {
  max-width: 408px;
  min-height: 576px;
  padding: 24px;
  margin: 96px auto 0 auto;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;

  transition: transform 250ms var(--time_distribution),
    opacity 250ms var(--time_distribution);
}
.modal_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms var(--time_distribution),
    border-color 250ms var(--time_distribution);
}
.modal_close_btn:is(:hover, :focus) {
  background-color: var(--pressed_state);
  border-color: var(--pressed_state);
}
.close_icon {
  fill: #000000;
  width: 8px;
  height: 8px;
  transition: fill 250ms var(--time_distribution);
}
.modal_close_btn:is(:hover, :focus) .close_icon {
  fill: #ffffff;
}
.modal_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 16px;
}
.modal_form {
  display: flex;
  flex-direction: column;
  color: var(--dark);
  padding-top: 24px;
}
.modal_label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal_input_box {
  position: relative;
  margin-bottom: 8px;
}
.modal_input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal_icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
}
.modal_input:focus {
  border: 1px solid var(--primary_brand);
  outline: none;
}
.modal_input:focus + .modal_icon {
  color: var(--primary_brand);
}
.modal_ta {
  width: 100%;
  min-height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal_ta:focus {
  border: 1px solid var(--primary_brand);
  outline: none;
}
.modal_ta::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal_label_cb {
  position: relative;
  padding-left: 24px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.modal_check {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}
.modal_cb:focus + .modal_check {
  border-color: var(--primary_brand);
}
.modal_cb:checked + .modal_check {
  border-color: var(--pressed_state);
  background-color: var(--pressed_state);
  background-image: url(../images/icons/check.svg);
  background-size: cover;
  background-origin: border-box;
}
.modal_cb_link {
  color: var(--primary_brand);
}
.modal_submit {
  width: 169px;
  height: 56px;
  margin: 24px auto 0 auto;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  transition: background-color 250ms var(--time_distribution);
}
.modal_submit:is(:hover, :focus) {
  background-color: var(--pressed_state);
}
